body {
	width: 1150px;
	margin: 0;
	padding: 0;	
	font-family:  "Montserrat", sans-serif;
	background-color: white;
	font-size: 18px;
	line-height: 40px;	
	color: #404040;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1150px;
	margin: 0 auto;
}

.small-container {
	width: 870px;
	margin: 0 auto;
}

.wrapper {
	width: 1010px;
	margin: 0 auto;	
}

.page-header {
	margin: 0;
	padding: 0;
	background: rgba(218, 165, 32, 0.7) url("img/beach.png") no-repeat;	
	background-size: cover;	
	min-height: 500px;
	background-position: top;
	padding-top: 80px;
}

.guest-house {
	position: relative;
	text-align: center;
	font-size: 25px;
	color: rgba(39, 70, 191, 0.8);
	margin-top: -20px;
	margin-left: 50px;
}

.guest-house .pearl {
	position: absolute;
	width: 64px;
	height: 64px;
	background: url("img/spritesheet.png") -1778px -72px;
	right: 280px;
	bottom: 50px;
}

.guest-house .umbrella {
	position: absolute;
	width: 128px;
	height: 128px;
	background: url("img/spritesheet.png") -2563px -70px;
	transform: rotate(-20deg);
	top: 200px;
	left: 90px;
}

.guest-house .ball {
	position: absolute;
	width: 64px;
	height: 64px;
	background: url("img/spritesheet.png") -70px -70px;
	top: 250px;
	left: 220px;
}

.guest-house .dolphin {
	position: absolute;
	width: 64px;
	height: 64px;
	background: url("img/spritesheet.png") -446px -70px;
	transform: rotate(20deg);
	top: 150px;
	right: 80px;
}

 .header-title {
	font-size: 50px;
	line-height: 55px;
	font-weight: bold;
	text-align: center;	
	margin: 0;
	margin-left: 50px;
	margin-bottom: 40px;
	padding: 0;
	color: rgb(39, 90, 204);
	padding-top: 0px;
	text-transform: uppercase;
	text-shadow: 1px 2px 2px #ffffff;
}

.guest-house b {
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	color:	#eef2ff;
    text-shadow: 1px 2px 2px rgb(39, 31, 191);
	margin-bottom: 5px;
}

.guest-house  i {
	font-style: italic;
	line-height: 45px;
	color: #eef2ff;
	text-shadow: 1px 2px 2px rgb(39, 31, 191);
}

.main-info {
	padding-top: 40px;
	padding-bottom: 30px;
	background-color: #ffffbf;
}

 .main-title {
	margin: 0 0 20px;
	padding: 0;
	text-align: center;	
	color: #233093;
	font-size: 30px;
}

.main-info .info-cite {
	text-align: center;	
	margin: 0;
	padding: 0;
	font-size: 21px;
	color: black;
}

.nav-menu {
	float: left;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	margin-left: 110px;
	font-size: 21px;
	
}

.house {
	position: absolute;
	background: url("img/spritesheet.png") no-repeat -1230px -69px;
	width: 32px;
	height: 32px;
	top: 5px;
	left: 15px;
}

.book {
	position: absolute;
	background: url("img/spritesheet.png") no-repeat -274px -67px;
	width: 32px;
	height: 32px;
	top: 5px;
	left: 15px;
}

.hotel {
	position: absolute;
	background: url("img/spritesheet.png") no-repeat -855px -68px;
	width: 32px;
	height: 32px;
	top: 5px;
	left: 15px;
}

.mail {
	position: absolute;
	background: url("img/spritesheet.png") no-repeat -1606px -67px;
	width: 32px;
	height: 32px;
	top: 5px;
	left: 15px;
}

.contact {
	position: absolute;
	background: url("img/spritesheet.png") no-repeat -2187px -68px;
	width: 32px;
	height: 35px;
	top: 5px;
	left: 15px;
}

.nav-menu li {
	list-style: none;	
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	/* color: #151719; */
	background-color: white;
	box-shadow: 2px 2px 5px #483D8B;
	transition: transform .4s;
	/* border-radius: 5px; */
	position: relative;
	
}

.nav-menu li p {
	padding: 0;
	margin: 0;
	margin-left: 45px;
}

.nav-menu li a {
	color: #151719;
	text-align: left;	
	text-decoration: none;
}

.nav-menu li:hover {
	transform: scale(1.04);
}

.circle-menu {
  position: relative;
  width: 400px;
  height: 400px;
  float: right;
  margin: 0px;
  margin-bottom: 30px;
  margin-top: -30px;
  margin-right: 90px;
}

.circle-menu ul {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 0 0 1px GOLDENROD;
   border-radius: 50%;
    overflow: hidden;
}

.circle-menu ul b {
	position: absolute;
}

.circle-menu .center {
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 1000;
  border: 5px solid #34495e;
  border-radius: 50%;
  box-shadow: 0 0 3px #cccccc;
}

.circle-menu li:first-child a {
	background: rgba(241, 196, 15, 0.5);
}

.house1 {
	width: 128px;
	height: 128px;
	background: url("img/spritesheet.png") no-repeat -1026px -73px;
	margin-top: -50px;
	margin-left: 25px;
}

.book1 {
	width: 128px;
	height: 128px;
	background: url("img/spritesheet.png") no-repeat -2358px -70px;
	margin-top: 0px;
	margin-left: 25px;
}

.hotel1 {
	width: 128px;
	height: 128px;
	background: url("img/spritesheet.png") no-repeat -657px -73px;
	margin-top: -30px;
	margin-left: 40px;
}

.mail1 {
	width: 128px;
	height: 128px;
	background: url("img/spritesheet.png") no-repeat -1402px -75px;
	margin-top: -20px;
	margin-left: 35px;
}

.contacts1 {
	width: 128px;
	height: 128px;
	background: url("img/spritesheet.png") no-repeat -1994px -70px;
	margin-top: 0px;
	margin-left: 45px;
}

.circle-menu li:nth-child(2) a {
	background: rgba(241, 196, 15, 0.5);
} 

.circle-menu li:nth-child(3) a {
	background: rgba(241, 196, 15, 0.5);
} 

.circle-menu li:nth-child(4) a {
	background: rgba(241, 196, 15, 0.5);
} 

.circle-menu li:last-child a {
	background: rgba(241, 196, 15, 0.5);
} 

 .circle-menu li {
	position: absolute;
	top: -95px;
  left: -95px;
  transform-origin: 100% 100%;
  width: 300px;
  height: 300px;
  background-color: rgba(145, 145, 145, 0.1);
  box-shadow: inset 0 0 2px 1px BURLYWOOD;
   overflow: hidden; 
}

.circle-menu li:nth-child(1) {
  transform: skew(18deg);
}

.circle-menu li:nth-child(2) {
  transform: rotate(72deg) skew(18deg);
  box-shadow: none;
}
.circle-menu li:nth-child(3) {
	transform: rotate(144deg) skew(18deg);
	box-shadow: inset 2px 0px 0px 1px BURLYWOOD;
}

.circle-menu li:nth-child(4) {
	transform: rotate(216deg) skew(18deg);
}

.circle-menu li:nth-child(5) {
	transform: rotate(288deg) skew(18deg);
	box-shadow: none;
}
  
.circle-menu li a:hover {
  background-color: rgba(241, 196, 15, 1);
}

.circle-menu li a {
	position: relative;
  display: block;
  width: 300px;
  height: 300px;
  background-color: rgba(241, 196, 15, 0.5);
   transform: skew(-18deg) rotate(-54deg);
   margin-top: 60px;
  margin-left: 60px;
  padding-left: 130px;
  padding-top: 60px;
  text-decoration: none;
  color: SADDLEBROWN;
  font-weight: bold;
  font-size: 0px;
}

 .main-info .info-cite {
	margin: 0 0 30px; 
 }
 
.main-info .nice-rest {
	text-align: center;	
	padding: 0;
	margin: 0 0 20px;
	font-weight: bold;
	color: #23308f;
	font-size: 30px;
}

.about-us {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #F5DEB3;
}

.about-us-title {
	text-align: center;
	margin: 0 0 25px;
	padding: 0;
	color: #8B4513;
	font-size: 30px;
}

.sea-pearl {
	display: block;	
	margin: 0 auto 30px;
}

.little-about-us {
	margin: 0;
	padding: 0 0 40px;
	text-align: center;
	font-style: italic;
	font-size: 21px;
}

.description1,
.description2,
.description3,
.about-rooms,
.about-kitchen,
.rest-in-sochi,
.to-book,
.about-price {
	margin: 0 auto 20px;
	padding: 0;
	text-align: justify;
}

.view-img,
.kitchen-img,
.map-and-address {
	position: relative;
}

.description3,
.about-kitchen {
	position: absolute;
	width: 350px;
	right: 30px; 
	top: 70px;
	font-style: italic;
	font-weight: bold;
}

.view-img,
.kitchen-img,
.standart-img,
.double-junior-suite-img,
.single-junior-suite-img,
.suite-img,
.sea-img {
	display: block;	
}

.view-img,
.kitchen-img {
	margin: 0 0 30px;
}

.about-kitchen {
	top: 100px;
}

.map-and-address {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: rgba(160, 186, 83, 0.4);

}

.map-title {
	margin: 0;
	margin-left: 75px;
	margin-bottom: 30px;
	color: DARKOLIVEGREEN;
}

 .map {
	float: left;
	width: 450px;
	height: 400px;
	border: 2px solid silver;
}

.map-and-address .address {
	color: DARKOLIVEGREEN;
	float: right;
	font-weight: normal;
	margin: 0;
	padding: 0;
	width: 350px;
	margin-top: 130px;
	text-align: justify;
}

.booking {
	background-color: #FFFFFF;
	padding-top: 40px;
	padding-bottom: 30px;
}

.book-title {
	margin: 0px 0 20px;
	text-align: center;
}

.to-book {
	text-align: justify;
}

.booking b{
	font-weight: bold;
}

.booking i {
	font-style: italic;
}

.rooms-and-price {
	background-color: #FFEFD5;
	padding-bottom: 50px;
	padding-top: 60px;
}

.room-and-price-title {
	text-align: center;
	font-size: 30px;
	margin: 0 0 50px;
	color: #CD5C5C ;
	font-weight: bold;
}

.double-junior-suite-img,
.single-junior-suite-img,
.suite-img {
	margin: 0;
}

.floated {
    float: right;
	width: 550px;
	margin: 0;
	padding-right: 80px;
	padding-top: 50px;
}

.standart-room,
.suite-room,
.junior-suite-room,
.double-junior-suite,
.single-junior-suite {
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
	background-color: #FFFFFF;
}

.standart-img,
.suite-img,
.double-junior-suite-img,
.single-junior-suite-img {
	float: left;
	width: 450px;
	height: auto;
	margin: 0;
}  

.rooms-and-price figure,
 .room-title,
 .room-description {
	margin: 0;
	padding: 0;
}
 .room-title {
	 font-size: 24px;
	 text-align: center;
	 margin-bottom: 20px;
	 color: #6c686c;
 }
 .room-description {
	 text-align: justify;
 }
 
 .note {
	text-align: center; 
 }
 
 .action {
	background-color: #FFFfFf;
	padding-top: 40px;
	padding-bottom: 40px;
 }
 
 .attention {
	text-align: center;
	text-transform: uppercase;
	margin: 0;	
	padding: 0;
	margin-bottom: 10px;
	color: #404040;
 }
 
.we-in-loo {
	background-color: #F5DEB3;
	padding-top: 60px;
	padding-bottom: 60px;
}

.loo {
	margin: 0;
	margin-bottom: 30px;
	margin-left: 150px;
	
}

.we {
	font-weight: normal;
	font-size: 18px;
	text-align: justify;
	font-style: italic;
	width: 450px;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	
}

.contact b {
	font-weight: bold;
} 

.we-author {
	position: relative;
}

.autor {
	position: absolute;
	font-weight: bold;
	font-size: 21px;
	left: -20px;
	bottom: -55px;
	font-style: normal;
	margin-left: 150px;
}

.img-and-author {
	position: relative;
}

.sea-img { 
	position: absolute;
	right: 0;
	top: -90px;
}

.page-footer {
	padding-top: 80px;
	padding-bottom: 10px;
	background-image: url("img/imgonline-com-ua-Resize-VPpbe9K8rr.jpg");
	background-position: top;
	opacity: 0.9;
	
}

.background {
	background-color: white;
	width: 687px;
	margin: 0 auto;
	border-radius: 20px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 15px;
	padding-bottom: 5px;
}


.contacts {
	border-bottom: 2px solid; 
	margin: 0;
	margin-bottom: 10px;
	padding-bottom: 5px;
	width: 680px;
}

.contact1,
 .contact2,
 .contact3 {
	margin: 0;
	line-height: 35px;
	font-size: 21px;
	margin-bottom: 5px;
}

.contact3 {
	margin: 0;
	padding-bottom: 10px;	
}

.picture-link {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	text-align: center;
	background-color: lightgrey;
	border-radius: 5px;
	color: black;
	padding: 0;
	line-height: 30px;
}

.link {
	font-size: 12px;
	margin-right: 10px;
	text-align: center;
}

.picture-link a {
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

.picture-link span:last-child,
.picture-link span:first-child {
	margin-left: 10px;
}
